* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  margin: 0;
}

.gray {
  color: #918e9b;
}

.bold {
  font-weight: bold;
}

/* ---- ↓Header section ---- */
.navbar {
  box-shadow: 0 2.5px 7.5px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 70px;
  padding: 20px 36px;
}

/* for safari */
.nav--logo {
  max-width: 100px;
}

/* ---- ↓Hero section ---- */
section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--img {
  align-self: center;
  max-width: 400px;
}

.hero--heading {
  margin-bottom: 16px;
}

.hero--p {
  margin-top: 0;
  width: 320px;
}

/* ---- ↓Card section ---- */
.card {
  padding: 37px;
}

.card--container {
  font-size: 1.2rem;
  position: relative;
  width: 175px;
}

.card--tag {
  background-color: white;
  border-radius: 2px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.card--img {
  border-radius: 9px;
  width: 100%;
}

.card--review {
  display: flex;
  align-items: center;
}

.card--review .review--icon {
  height: 14px;
}

.card--container h2 {
  font-size: 1.2rem;
  font-weight: normal;
}
