* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* header section */
.navbar {
  box-shadow: 0 2.5px 7.5px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 70px;
  padding: 20px 36px;
}

/* for safari */
.nav--logo {
  max-width: 100px;
}
