* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* ---- ↓Header section ---- */
.navbar {
  box-shadow: 0 2.5px 7.5px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 70px;
  padding: 20px 36px;
}

/* for safari */
.nav--logo {
  max-width: 100px;
}

/* ---- ↓Hero section ---- */
section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--img {
  align-self: center;
  max-width: 400px;
}

.hero--heading {
  margin-bottom: 16px;
}

.hero--p {
  width: 320px;
  margin-top: 0;
}
